@model EntityLayer.Concrete.Experience
@{
    ViewData["Title"] = "UpdateExperience";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Deneyim Güncelleme Sayfası</h4>
            <form class="form" method="post">
                @* <label>Deneyim ID</label> *@
                @Html.HiddenFor(x=>x.ExperienceID)
                <br />
                <label>Deneyim Adı</label>
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                <br />
                <label>Şirket Adı</label>
                @Html.TextBoxFor(x => x.Company, new { @class = "form-control" })
                <br />
                <label>Tarih Aralığı</label>
                @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
                <br />
                <label>Görsel URL'si</label>
                @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                <br />
                <label>Açıklama</label>
                @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                <br />

                <button class="btn btn-primary">Güncelle</button>
            </form>
        </div>
    </div>
</div>