@model EntityLayer.Concrete.About
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Hakkımda Düzenleme Sayfası</h3>
    @using (Html.BeginForm("Index", "About", FormMethod.Post))
    {
        <br />
        <br />
        @Html.HiddenFor(x => x.AboutID, new { @class = "form-control", @readonly = "readonly" })
        <br />
        <label>Başlık</label>
        @Html.TextAreaFor(x => x.Title, new { @class = "form-control" })
        <br />
        <label>Açıklama</label>
        @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
        <br />
        <label>Yaş</label>
        @Html.TextBoxFor(x => x.Age, new { @class = "form-control" })
        <br />
        <label>Mail Adresi</label>
        @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })
        <br />
        <label>Telefon Numarası</label>
        @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
        <br />
        <label>Adres</label>
        @Html.TextBoxFor(x => x.Adress, new { @class = "form-control" })
        <br />
        <label>Resim URL'i</label>
        @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
        <br />
        <button class="btn btn-primary">Güncelle</button>
    }
</div>

